<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="esoap" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="etcp" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="emeta">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CINQWCF.Service/Service1/soap"
                binding="basicHttpBinding" bindingConfiguration="esoap" contract="ServiceReference1.IComponentManager"
                name="esoap" />
            <endpoint address="net.tcp://localhost/CINQWCF.ServiceNetTcp"
                binding="netTcpBinding" bindingConfiguration="etcp" contract="ServiceReference1.IComponentManager"
                name="etcp">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CINQWCF.Service/Service1/mex"
                binding="wsHttpBinding" bindingConfiguration="emeta" contract="ServiceReference1.IComponentManager"
                name="emeta">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>